<div class="container mx-auto max-w-2xl px-4 py-10">

  <div class="bg-white flex items-center gap-4 rounded-lg p-6 shadow-lg">
    <img class="rounded-full" src="img/image.png" alt="Profile image" />
    <div>
      <p class="text-sm text-gray-500">Test Provider</p>
      <p class="text-xl font-semibold text-gray-800">Test Provider</p>
    </div>
  </div>

  <div class="bg-white mt-6 rounded-lg p-6 shadow-lg">

    <div class="mb-6">
      <label class="block text-gray-700 font-medium mb-2">1. Select a Service</label>
      <select class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-green-500">
        <option value="">-- Select Service --</option>
        <option value="consultation">сартарош</option>
      </select>
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 font-medium mb-2">2. Choose Date & Time</label>
      <input type="datetime-local"
             class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-green-500 focus:outline-none"
             min="" />
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 font-medium mb-2">Phone Number</label>
      <input type="tel" value="+992" placeholder="+992..." class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-green-500 focus:outline-none" />
    </div>

    <div class="mb-6">
      <label class="block text-gray-700 font-medium mb-2">Comment (optional)</label>
      <textarea rows="3" placeholder="бла бла" class="w-full border border-gray-300 rounded-lg px-4 py-2 focus:ring-green-500 focus:outline-none"></textarea>
    </div>

    <div class="text-center">
      <button routerLink="/confirm" class="  cursor-pointer bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-lg text-lg font-medium shadow-md transition">
        Брон
      </button>
    </div>
  </div>
</div>
